<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home | page</title>
</head>
<body>
    <h1>Home</h1>
    
    <h2 style="text-align: center;">Form</h2>
    <form method="post" action="/results">
        <div style="text-align: center; margin-bottom: 15px;">
            <input name="title" type="text" placeholder="Enter title">
        </div>
        <div style="text-align: center; margin-bottom: 15px;">
            <input name="description" type="text" placeholder="Enter description">
        </div>
        <div style="text-align: center; margin-bottom: 15px;">
            <button type="submit">Send form</button>
        </div>
    </form>

    <a href="/about">About</a>
    <hr>
    <a href="/api/users">API (get users)</a>
</body>
</html>